<ul class="users">
  <% if @products.present? %>

  <% @products.each do |product| %>
    <%= render 'shared/product' , product: product %>
  <% end %>
</ul>
<%= will_paginate @products %>

<% elsif !params[:search].blank? %>
  <p>
    <br/><br/><hr/>
    There are no products containing the term(s) `
    <strong><%= params[:search] %></strong>
    `
  </p>
<% end %>
