<div class="mt-3 d-flex justify-content-start gap-3">
  <%= button_to edit_product_path(product), method: :get do %>
    <i class="bi bi-pencil" style="color:darkgray"></i>
    <span>Edit</span>
  <% end %>
  <%= button_to product, method: :delete, data: { confirm: 'Are you sure?' } do %>
    <i class="bi bi-trash" style="color:firebrick"></i>
    <span>Destroy</span>
  <% end %>
</div>
